/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .top-left h1 {
    font-size: 32px;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 640px) {
  .top-wrapper {
    text-align: left;
  }

  .header-right {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .top-left h1 {
    font-size: 32px;
    line-height: 36px;
  }

  .top-left h3 {
    font-size: 16px;
    line-height: 20px;
  }

  .top-wrapper .container {
    /* max-width: 1170px; */
    /* width: 100%;
    padding: 0 15px; */
    /* margin: 0 auto; */
    /* display: flex; */
    flex-direction: column;
  }

  .top-right {
    width: 300px;
    margin: 36px 0px;
  }

  .top-left {
    text-align: center;
  }
}

@media (max-width: 575px) {
  .top-right {
    /* justify-content: center;
    display: flex; */
    margin: 36px 0px;
    background-color: blue;
  }

  .animated {
    width: 300px;
  }

  .top-wrapper .container {
    align-items: center;
  }
}
